<div class="intoro">
            <h5>診断結果</h5>
            <p>あなたにおすすめの曲は…</p>
        </div>
        <div class="tweet-container">
            <div class="tweet">

                <% if @shindan.question == "111" %>
                <h2>優しさに包まれたなら</h2>
                <p>Yumi Arai</p>

                <% elsif @shindan.question == "112" %>
                <h2>愛してる</h2>
                <p>callin</p>

                <% elsif @shindan.question == "113" %>
                <h2>手紙〜背景十五の君へ〜</h2>
                <p>Angela Aki</p>

                <% elsif @shindan.question == "114" %>
                <h2>3月9日</p>
                <p>Remioromen</p>

                <% elsif @shindan.question == "121" %>
                <h2>パプリカ</h2>
                <p>Foorin</p>

                <% elsif @shindan.question == "122" %>
                <h2>前前前世</h2>
                <p>RADWIMPS</p>

                <% elsif @shindan.question == "123" %>
                <h2>点描の唄</h2>
                <p>Mrs. GREEN APPLE, Sonoko Inoue</p>

                <% elsif @shindan.question == "124" %>
                <h2>RPG</h2>
                <p>SEKAI NO OWARI</p>

                <% elsif @shindan.question == "131" %>
                <h2>ドラえもん</h2>
                <p>Gen Hoshino</p>

                <% elsif @shindan.question == "132" %>
                <h2>マニフェスト</h2>
                <p>SEKAI NO OWARI</p>

                <% elsif @shindan.question == "133" %>
                <h2>茜さす</h2>
                <p>Aimer</p>

                <% elsif @shindan.question == "134" %>
                <h2>どんぐりころころ</h2>
                <p>Yuko Mizutani</p>

                <% elsif @shindan.question == "141" %>
                <h2>あわてんぼうのサンタクロース</h2>
                <p>Kentaro Hayami</p>

                <% elsif @shindan.question == "142" %>
                <h2>メリクリ</h2>
                <p>BoA</p>

                <% elsif @shindan.question == "143" %>
                <h2>風よ</h2>
                <p>Fujii Kaze</p>

                <% elsif @shindan.question == "144" %>
                <h2>First Love</h2>
                <p>Hikaru Utada</p>

                <% elsif @shindan.question == "151" %>
                <h2>UFO</h2>
                <p>Pink Lady</p>

                <% elsif @shindan.question == "152" %>
                <h2>小さな恋の歌</h2>
                <p>MONGOL800</p>

                <% elsif @shindan.question == "153" %>
                <h2>明日への手紙</h2>
                <p>Aoi Teshima</p>

                <% elsif @shindan.question == "154" %>
                <h2>ちっぽけな勇気</h2>
                <p>FUNKY MONKEY BABYS</p>

                <% elsif @shindan.question == "211" %>
                <h2>Soldier, Poet, King</h2>
                <p>The Oh Hellos</p>

                <% elsif @shindan.question == "212" %>
                <h2>Riptide</h2>
                <p>Vance Joy</p>

                <% elsif @shindan.question == "213" %>
                <h2>Runaway</h2>
                <p>AURORA</p>

                <% elsif @shindan.question == "214" %>
                <h2>Here Comes The Sun</h2>
                <p>The Beatles</p>

                <% elsif @shindan.question == "221" %>
                <h2>Summer Baby</h2>
                <p>Jonas Brothers</p>

                <% elsif @shindan.question == "222" %>
                <h2>What Makes You Beautiful</h2>
                <p>One Direction</p>

                <% elsif @shindan.question == "223" %>
                <h2>Summertime Sadness</h2>
                <p>Lana Del Ray</p>

                <% elsif @shindan.question == "224" %>
                <h2>What Time Is It</h2>
                <p>Zac Efron, Vanessa Hudgens, Lucas Grabeel, Corbin Bleu,</p>
                <p>Ashley Tisdale, Monique Coleman, Disney</p>

                <% elsif @shindan.question == "231" %>
                <h2>Ophelia</h2>
                <p>The Lumineers</p>

                <% elsif @shindan.question == "232" %>
                <h2>Love Story</h2>
                <p>Taylor Swift</p>

                <% elsif @shindan.question == "233" %>
                <h2>Numb Little Bug</h2>
                <p>Em Beihold</p>

                <% elsif @shindan.question == "234" %>
                <h2>A Kind Of Magic</h2>
                <p>Queen</p>

                <% elsif @shindan.question == "241" %>
                <h2>All I Want for Christmas Is You</h2>
                <p>Mariah Carey</p>

                <% elsif @shindan.question == "242" %>
                <h2>A Thousand Years</h2>
                <p>Christina Perri</p>

                <% elsif @shindan.question == "243" %>
                <h2>Getting Older</h2>
                <p>Billie Eilish</p>

                <% elsif @shindan.question == "244" %>
                <h2>Jingle Bell Rock</h2>
                <p>Bobby Helms</p>

                <% elsif @shindan.question == "251" %>
                <h2>Dancing Queen</h2>
                <p>ABBA</p>

                <% elsif @shindan.question == "252" %>
                <h2>Lover</h2>
                <p>Taylor Swift</p>

                <% elsif @shindan.question == "253" %>
                <h2>Anti-Hero</h2>
                <p>Taylor Swift</p>

                <% elsif @shindan.question == "254" %>
                <h2>Symphony (feat. Zara Larsson)</h2>
                <p>Clean Bandit, Zara Larsson</p>

                <% elsif @shindan.question == "311" %>
                <h2>Planetarium</h2>
                <p>Justin Hurwits</p>

                <% elsif @shindan.question == "312" %>
                <h2>So This Is Love</h2>
                <p>Emile Pandolfi</p>

                <% elsif @shindan.question == "313" %>
                <h2>Suite bergamsque, L75</h2>
                <p>Claude Debussy</p>

                <% elsif @shindan.question == "314" %>
                <h2>Spring</h2>
                <p>Joe Hisashi</p>

                <% elsif @shindan.question == "321" %>
                <h2>バロンのうた</h2>
                <p>Yuji Naomi</p>

                <% elsif @shindan.question == "322" %>
                <h2>デート</h2>
                <p>RADWIMPS</p>

                <% elsif @shindan.question == "323" %>
                <h2>What Was I Made For? (Epiloge)</h2>
                <h2>- Instrumental Version</h2>
                <p>Mark Ronson, Andrew Wyatt</p>

                <% elsif @shindan.question == "324" %>
                <h2>Summer</h2>
                <p>Joe Hisashi</p>

                <% elsif @shindan.question == "331" %>
                <h2>The Great Pumpkin Waltz</h2>
                <p>Vince Guaraldi</p>

                <% elsif @shindan.question == "332" %>
                <h2>Dawn</h2>
                <h2>- From "Pride & Prejudice" Soundtrack</h2>
                <p>Dario Marianelli, Jean-Yves Thibaudet</p>

                <% elsif @shindan.question == "333" %>
                <h2>Stuff We Did</h2>
                <p>Michael Giacchino</p>

                <% elsif @shindan.question == "334" %>
                <h2>夕暮れの風</h2>
                <p>Joe Hisashi</p>

                <% elsif @shindan.question == "341" %>
                <h2>Christmas at Hogwarts</h2>
                <h2>(From "Harry Potter and the Philosopher's Stone")</h2>
                <p>The City of Prague Philharmonic Orchestra</p>

                <% elsif @shindan.question == "342" %>
                <h2>Moon River (Instrumental)</h2>
                <p>JJ Heller</p>

                <% elsif @shindan.question == "343" %>
                <h2>遥かなる大地より<インストゥルメンタル></p>
                <p>Masashi Sada</p>

                <% elsif @shindan.question == "344" %>
                <h2>The Nutcracker, Op.71, Act I, Scene1: No.2, March</h2>
                <p>Pyotr Ilyich Tchaikovsky</p>

                <% elsif @shindan.question == "351" %>
                <h2>Level Complete</h2>
                <p>Brian Tyler</p>

                <% elsif @shindan.question == "352" %>
                <h2>golden hour</h2>
                <h2>-Orchestral Version (Instrumental)</h2>
                <p>JVKE</p>

                <% elsif @shindan.question == "353" %>
                <h2>Solas</h2>
                <p>Jamie Duffy</p>

                <% elsif @shindan.question == "354" %>
                <h2>あの夏へ</h2>
                <p>Joe Hisashi</p>

                <% end %>

        </div>