<body>
  <div class="container">
    
    <%= image_tag 'title.jpg', class:"image1" %>


    <div class="body">
      <p><h3><br>人生の主人公である、あなたの日常に彩りを...</h3><p>

      <p><h3><br>イベントや気分に合った曲を提案する、あなたの音楽のお供-<br>
      それがこのウェブサイトです。</h3><p>

    </div>

    <div class="body2">

      <p><h3><br><br> 自分の特別な瞬間をInstagramに記録する際は、<br>
      そのときの雰囲気を音楽に乗せて共有できます。<br><br></h3><p>

    </div>

    <%= image_tag 'musicbase.jpg', class:"image2" %>

  </div>
</body>